h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
h2{
    font-family: sans-serif;
    font-weight: 500;
}
h3{
    font-family: sans-serif;
    font-weight: 500;
}
h4{
    font-family: sans-serif;
    font-weight: 500;
}
h5{
    font-family: sans-serif;
    font-weight: 500;
}
h6{
    font-family: sans-serif;
    font-weight: 500;
}